@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {

    margin: 0px;

    font-family: 'Raleway', sans-serif;

}

.wapper {

    position: relative;

    width: 900px;

    left: 50%;

    margin-left: -450px;

}

.wapper > .title {

    padding-top: 55px;

    text-align: center;

    font-weight: 900;

    font-size: 70px;

}

.wapper > .image {

    position: relative;

    left: 50%;

    margin-left: -400px;

    width: 800px;

    height: 544px;

    background-size: cover;

    background-image: url(screen.png);

}

.wapper > .image > .gif {

    position: absolute;

    top: 75px;

    left: 84px;

    width: 630px;

    height: 355px;

    background-size: cover;

    background-image: url(screen.gif);

}

.wapper > .text {

    padding-top: 20px;

    text-align: center;
    
    font-size: 20px;

    cursor: pointer;

}

.wapper > .info {

    margin-top: 30px;

    background-color: #fafafa;

    width: 100%;

    height: auto;

    padding-bottom: 15px;

    border-radius: 10px;

    font-family: 'Montserrat', sans-serif;

    margin-bottom: 30px;

}

.wapper > .info > .title {

    text-align: center;

    padding-top: 15px;

    font-size: 30px;

}

.wapper > .info > .text {

    position: relative;

    padding-top: 20px;

    font-size: 20px;

    width: 80%;

    left: 10%;

    text-align: justify;

    cursor: pointer;

}

.wapper > .button {

    position: relative;

    left: 50%;

    margin-left: -90px;

    background-color: #64b9f1;

    background-image: linear-gradient(to bottom,#4ca7e4,#328ecc);

    border-radius: 5px;

    color: #fff;

    padding: 15px;

    width: 180px;

    text-align: center;

    cursor: pointer;

    margin-bottom: 50px;

}

.infos {

    display: none;

    top: 0px;

    z-index: 1;

    position: fixed;

    width: 100%;

    height: 100%;

    opacity: 0.9;

    background-color: #e1e1e1;

}

.infos > .login {

    width: 900px;

    height: 500px;

    border-radius: 20px;

    background-color: #fff;

    position: absolute;

    top: 50%;

    left: 50%;

    margin-top: -250px;

    margin-left: -450px;

}

.infos > .login > .text {

    text-align: center;

    font-size: 50px;

    padding-top: 190px;

}

.wapper > .footer {

    position: relative;

    margin-top: 15px;

    width: 100%;

    padding-top: 10px;

    padding-bottom: 10px;

    border-top-left-radius: 20px;

    border-top-right-radius: 20px;

    background-color: #212121;

    text-align: center;

    color: #fff;

}

.wapper > .menu {

    z-index: 2;

    top: 0px;

    position: fixed;

    width: 900px;

    padding-top: 10px;

    padding-bottom: 10px;

    border-bottom-left-radius: 20px;

    border-bottom-right-radius: 20px;

    background-color: #212121;

    text-align: center;

    color: #fff;

}

.menu > .wap > a {

    margin-right: 20px;

    text-decoration: none;

    color: #fff;

}

.wapper > .header {

    margin-top: 55px;

    position: relative;

    width: 100%;

    height: auto;

    background-image: url(bg.jpg);

    background-size: cover;

    background-position: center;

}

.wapper > .header > .title {

    padding: 20px;

    color: #fff;

    font-size: 50px;

}

.wapper > .page {

    position: relative;

    margin-top: 20px;

    margin-bottom: 30px;

    width: 100%;

    font-size: 18px;

}

.wapper > .page > ul > li {

    margin-bottom: 10px;

}